<!DOCTYPE html>
<html>

<head>

    <title>OTP Verification</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <div class="container">

        <h1>OTP Verification</h1>

        <form method="POST">

            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

            <label>Enter OTP</label>

            <input type="text"
                   name="otp"
                   placeholder="Enter your OTP"
                   required>

            <button type="submit">
                Verify OTP
            </button>

        </form>

    </div>

</body>

</html>